.keys {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 0.8rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.2em;
}

.key {
  width: 2.5em;
  height: 2.5em;
  filter: brightness(75%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;

  background: #333;
  color: #eee;
  border-radius: 0.3em;
  border: 1px solid #444;
  box-shadow: 0 0.2em 0 0.05em #222;
  border-bottom-color: #555;
}

.top {
  width: 2.2em;
  height: 1.5em;
  align-items: flex-start;
}

.backspace {
  width: 4em;
  justify-content: flex-end;
}

.tab {
  width: 4em;
  justify-content: flex-start;
}

.capsLock {
  width: 5em;
  justify-content: flex-start;
}

.empty {
  width: 1.5em;
}

.leftCtrl,
.leftShift {
  width: 3.5em;
  justify-content: flex-start;
}

.rightShift {
  width: 6rem;
  justify-content: flex-end;
}

.spacebar {
  width: 16em;
}

.arrowKeys {
  display: grid;
  grid-template-areas:
    '. up .'
    'left down right';
}

.arrowKey {
  height: 0.7em;
}

.up {
  grid-area: up;
}

.left {
  grid-area: left;
}

.down {
  grid-area: down;
}

.right {
  grid-area: right;
}
